---
export async function getStaticPaths() {
  const res = await fetch("https://ryoccom.com/?rest_route=/wp/v2/categories/")
  const posts = await res.json()

  const paths = posts.map((post) => ({
    params:{
      id: String(post.id)
    }
  }))
  return paths
}

const { id } = Astro.params

const res_category = await fetch(`https://ryoccom.com/?rest_route=/wp/v2/categories/${id}`)
const category = await res_category.json()

const res_post = await fetch(`https://ryoccom.com/index.php?rest_route=%2Fwp%2Fv2%2Fposts&categories=${id}`)
const post = await res_post.json()


import '../../css/global.css';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="content">
    <h1 set:html={`「` + category.name + `」の記事一覧`} />
    <ul>
    {post.map((post) =>
    <li>
      <a href={`/blog/` + post.id}>
        <h2 set:html={post.title.rendered} />
        <div set:html={post.excerpt.rendered} />
      </a>
    </li>
    )}
    </ul>
    <p><a href="/categories/">戻る</a></p>
  </div>
</BaseLayout>