---
import Navigation from './Navigation.astro';
---
<style>
  .footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <div class="footer">
    <Navigation />
  </div>
</footer>